$border-radius: 5px;
$light-color: #111;
$dark-color: #eee;

button {
  border: none;
}

input {
  border: none;
}

input:focus {
  background-color: white;
}

textarea:focus {
  background-color: white;
}

@mixin light {
  color: $light-color;
}

@mixin dark {
  color: $dark-color;
}

.light-header {
  @include light;
  background-color: #aaa;
}

.dark-header {
  @include dark;
  background-color: #000;
}

.light-board {
  @include light;
  background-color: #ebebeb;
}

.dark-board {
  @include dark;
  background-color: #111
}

.light-list {
  @include light;
  background-color: #bbb;
}

.dark-list {
  @include dark;
  background-color: #222;
}

button.light-list {
  background-color: $light-color;
  color: $dark-color
}

button.dark-list {
  background-color: $dark-color;
  color: $light-color
}

.light-card {
  @include light;
  background-color: #ddd;
}

.dark-card {
  @include dark;
  background-color: #444;
}

button.light-card {
  border: 1px solid #444;
}

button.dark-card {
  border: 1px solid #bbb;
}