$border-radius: 5px;
$button-radius: 3px;
$light-color: #282829;
$dark-color: #eee;
$font-main: 'Roboto', sans-serif;
$dark-bg: linear-gradient(black, #10213d);
$dark-list: #1E1E1E;
$dark-card: #393939;
$light-bg: white;
$light-list: #ebebeb;

html {
  font-family: $font-main;
}

button {
  border: none;
}

input {
  border: none;
}

input:focus {
  background-color: white;
  color: black;
}

textarea:focus {
  background-color: white;
  color: black;
}

@mixin light {
  color: $light-color;
}

@mixin dark {
  color: $dark-color;
}

.light-header {
  @include light;
  background-color: #fff;
}

.dark-header {
  @include dark;
  background-color: #000;
}

.light-board {
  @include light;
  background: $light-bg;
}

.dark-board {
  @include dark;
  background-color: #111;
  background: $dark-bg;
}

.light-list-creator {
  @include light;
  background: inherit;
  box-shadow: 0px 0px 3px black;
  border-radius: 3px;
}

.dark-list-creator {
  @include dark;
  background: inherit;
  box-shadow: 0px 0px 3px #fff;
  border-radius: 3px;
}

.light-list {
  @include light;
  background: $light-list;
  box-shadow: 0px 0px 3px black;
}

.dark-list {
  @include dark;
  background: $dark-list;
  box-shadow: 0px 0px 3px #999;
}

button.light-list {
  background: $light-bg;
}

button.dark-list {
  background: $dark-card;
}

.light-card {
  @include light;
  background: $light-bg;
}

.light-card:hover {
  background: $light-list;
}

.dark-card {
  @include dark;
  background: $dark-card;
}

.dark-card:hover {
  background: $dark-list;
}

button.light-card {
  border: 1px solid #444;
  border-radius: $border-radius;
  box-shadow: 0px 1px 5px #777;
}

button.dark-card {
  border: 1px solid #bbb;
}

.light-card .card-buttons {
  background-color: rgba(255,255,255,0.7);
}

.dark-card .card-buttons {
  background-color: #39393980;
}

svg {
  padding: .25rem;
  display: block;
}