body {
  font-size: 16px;
}

.board {
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
  white-space: nowrap;
  display: flex;
  margin: 0;
  background-color: #bad;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
  }
}

.list-column {
  display: flex;
  margin: 0;
}

.list-creator {
  width: min-content;
  height: min-content;
  margin: 1em;
}

textarea {
  border: none;
  resize: none;
  outline: none;
}
