.list {
  min-width: 300px;
  background-color: #fea;
  margin: 1em;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: fit-content;
}

.save-card {
  background-color: skyblue;
}

.card-list {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}